<p>Cadastro de Nota</p>
<form #fcadcontra="ngForm" [formGroup]="cadastroNotaForm" class="example-form">
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Condominio</mat-label>
        <input matInput formControlName="condominio" name="condominio">
    </mat-form-field>
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Número do Contrato</mat-label>
        <input matInput formControlName="numeroContrato" name="numeroContrato">
    </mat-form-field>
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Serviço</mat-label>
        <input matInput formControlName="servico" name="servico">
    </mat-form-field>
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Fornecedor</mat-label>
        <input matInput formControlName="fornecedor" name="fornecedor">
    </mat-form-field>
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Competência</mat-label>
        <input matInput formControlName="competencia" name="competencia">
    </mat-form-field>
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Data de Vencimento</mat-label>
        <input matInput formControlName="dataVencimento" name="dataVencimento">
    </mat-form-field>
    <mat-form-field class="example-full-width contratoNumero" appearance="fill">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="valor" name="valor">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Observação </mat-label>
        <input matInput formControlName="observacao" name="observacao">
    </mat-form-field>
    <button (click)="teste()">teste</button>
</form>