<div class="titulo">
    <h1>Painel Administrativo</h1>
</div>
<mat-tab-group class="tab-group-main">
    <mat-card>
        <mat-tab label="Usuários">
            <mat-tab-group class="tab-group-usuarios">
                <mat-card>
                    <mat-tab label="Criar Usuário">
                        <button mat-raised-button color="warn" (click)="teste()">Excluir</button>
                    </mat-tab>
                </mat-card>
                <mat-card>
                    <mat-tab label="Editar Usuário">
                        conteudo
                    </mat-tab>
                </mat-card>
            </mat-tab-group>   
        </mat-tab>
    </mat-card>
    <mat-card class="exclusao-registros">
        <mat-tab label="Exclusão de Registros">
            <mat-tab-group>
                <mat-card>
                    <mat-tab label="Cargos">
                        conteudo
                    </mat-tab>
                </mat-card>
                <mat-card>
                    <mat-tab label="Bancos">
                        conteudo
                    </mat-tab>
                </mat-card>
                <mat-card>
                    <mat-tab label="Serviços">
                        conteudo
                    </mat-tab>
                </mat-card>
                
            </mat-tab-group>
        </mat-tab>
    </mat-card>
    <mat-card class="card-exportar-base">
        <mat-tab label="Exportar Base de Dados">
            <div class="exportar-base">
                <div class="exportar-base">
                    <p>Exportar base de dados</p>
                </div>
                <div class="botao">
                    <button mat-raised-button color="warn" (click)="exportarBase()">Exportar Base</button>
                </div>
            </div>
        </mat-tab>
    </mat-card>
    <mat-card>
        <mat-tab label="Logs do Sistema">
            <div class="tabela">
                <app-log-eventos></app-log-eventos>
            </div>
        </mat-tab>
    </mat-card>
</mat-tab-group>