.nav-logout {
    display: flex;
    align-items: center;
    padding-left: 15px; 
    flex: 1 1 auto;   
    
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;

}

.footer span {
    font-size: 0.8rem;
    font-weight: 300;   
}

.botoes{
    padding-right: 15px;
}

.teste{
    background-color: blue;
    
    
}

.teste1{
    background-color: yellow;
    top: 64px;
    bottom: 64px;
    position: fixed;
}

.teste2{
    background-color: red;
    
}