.nav-logout {
    display: flex;
    align-items: center;
    padding-left: 15px; 
    flex: 1 1 auto;   
    height: 40px;
    
}

.botoes{
    padding-right: 15px;
}

.companyName{
    font-size: 150%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-sidenav-content{
      font-size: 100%;
      text-align: center;
  }



  .container {
    height: 90%;
    border: 0px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 241, 241);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 181, 181);
  }
  .sidenav {
     user-select: none;
     background-color: rgb(245, 241, 241);
  }

  .fontsize{
    font-size: small;
  }

  .full-width {
    width: 100%;
    
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }