.titulo{
  text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;

  }

  .example-full-width {
    width: 100%;

  }

  td {
    padding-right: 8px;
  }

  .conta {
    width: 13%;
    padding-right: 2%;
  }

  .agencia {
    width: 13%;
    padding-right: 2%;
  }

  .operacao {
    width: 5%;
    padding-right: 2%;
  }

   .pix {
    width: 15%;
    padding-right: 2%;
  }
  .chavepix {
    width: 23%;

  }

  .banco{
    padding-top: 5px;
    width: 21%;
    padding-right: 2%;
  }

  .cargos-servicos{
    grid-column: auto;
  }

  .box-servicos{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 30% 30%;

  }

.h2-box-servico{
    text-align: center;
    border: 2px solid black;


}

.caixa-servicos{
  padding: 0px;
  padding-bottom: 15px;
}

.box-servico-itens{
  padding-left: 10px;


}

.cnpj {
  width: 30%;
  padding-right: 2%;
}

.telefone {
  width: 30%;
  padding-right: 2%;
}

.email-cond {
  width: 36%;
}

.sindico{
  width: 75%;
  padding-right: 2%;
}

.sindicocpf{
  width: 23%;
}

.nome{
  width: 80%;
  padding-right: 2%;
}

.cpf{
  width: 32%;
}

.rg{
  padding-left: 2%;
  width: 32%;
}

.pis{
  padding-left: 2%;
  width: 32%;
}

.filiacaopai{
  width: 48%;
}

.nascimento{
  padding-left: 2%;
  width: 16%;
}

.filiacaomae{
  padding-left: 2%;
  width: 50%;
}

.email-func{
  width: 42%;
  padding-left: 2%;
}

.telefone-func{
  width: 18%;

}

.admissao{
  width: 16%;

}

.cargo{
  width: 20%;
  padding-right: 2%;
}

.nome-forn{
  width: 48%;
  padding-right: 2%;
}

.apelido-forn{
  width: 50%;
}

.cnpj-forn{
  width: 48%;
  padding-right: 2%;
}

.cpf-forn{
  width: 50%;

}

.end-forn{
  width: 50%;

}

.tel-forn{
  width: 48%;
  padding-right: 2%;

}

.condominio-cond{
  width: 80%;
  padding-right: 2%;
}

.unidade{
  width: 18%;

}

.proprietario{
  width: 80%;
  padding-right: 2%;
}

.proprietariocpf{
  width: 18%;

}

.locatario-nome{
  width: 80%;
  padding-right: 2%;
}

.locatario-cpf{
  width: 18%;
}
.email-condo{
  width: 80%;
  padding-right: 2%;
}
.telefone-condo{
  width: 18%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.botoes{
  display: flex;


}

.botao-cancelar{
  padding-left: 15px;
}

.botao-salvar{

}
