<mat-card>
  <h1 class="titulo">Formulários para cadastros</h1>
  <mat-tab-group class="mat-tab-group">
    <mat-tab label="Condomínio">
      <form #fc="ngForm" [formGroup]="cadastroCondominioForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome do Condomínio</mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Endereço </mat-label>
          <input matInput formControlName="endereco" name="endereco">
        </mat-form-field>
        <mat-form-field class="example-full-width cnpj" appearance="fill">
          <mat-label>CNPJ </mat-label>
          <input matInput formControlName="cnpj" name="cnpj" mask="00.000.000/0000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width telefone" appearance="fill">
          <mat-label>Telefone </mat-label>
          <input matInput formControlName="telefone" name="telefone" mask="(00) 0 0000-0000">
        </mat-form-field>
        <mat-form-field class="example-full-width email-cond" appearance="fill">
          <mat-label>Email </mat-label>
          <input matInput formControlName="email" name="email">
        </mat-form-field>
        <mat-form-field class="example-full-width banco" appearance="fill">
          <mat-label>Banco</mat-label>
          <mat-select formControlName="banco" name="banco">
            <mat-option *ngFor="let opt of listaBancos" [value]="opt.bancoID">{{ opt.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="agencia example-full-width" appearance="fill">
          <mat-label>Agência </mat-label>
          <input matInput type="number" formControlName="agencia" name="agencia">
        </mat-form-field>
        <mat-form-field class="conta example-full-width" appearance="fill">
          <mat-label>Conta </mat-label>
          <input matInput type="number" formControlName="conta" name="conta">
        </mat-form-field>
        <mat-form-field class="operacao example-full-width" appearance="fill">
          <mat-label>Op </mat-label>
          <input matInput type="number" formControlName="operacao" name="operacao">
        </mat-form-field>
        <mat-form-field class="pix example-full-width" appearance="fill">
          <mat-label>PIX</mat-label>
          <mat-select formControlName="pix" name="pix">
            <mat-option [value]='"CPF/CNPJ"'>CPF/CNPJ</mat-option>
            <mat-option [value]='"Telefone"'>Telefone</mat-option>
            <mat-option [value]='"Email"'>Email</mat-option>
            <mat-option [value]='"Chave"'>Chave</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="chavepix example-full-width" appearance="fill">
          <mat-label>Chave PIX </mat-label>
          <input matInput formControlName="chavepix" name="chavepix">
        </mat-form-field>
        <mat-form-field class="example-full-width sindico" appearance="fill">
          <mat-label>Síndico</mat-label>
          <input matInput formControlName="sindico" name="sindico">
        </mat-form-field>
        <mat-form-field class="example-full-width sindicocpf" appearance="fill">
          <mat-label>CPF Síndico</mat-label>
          <input matInput formControlName="cpfsindico" name="cpfsindico" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width sindico" appearance="fill">
          <mat-label>Conselho Fiscal 1</mat-label>
          <input matInput formControlName="conselhofiscal1" name="conselhofiscal1">
        </mat-form-field>
        <mat-form-field class="example-full-width sindicocpf" appearance="fill">
          <mat-label>CPF Conselho Fiscal 1</mat-label>
          <input matInput formControlName="cpfconselhofiscal1" name="cpfconselhofiscal1" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width sindico" appearance="fill">
          <mat-label>Conselho Fiscal 2</mat-label>
          <input matInput formControlName="conselhofiscal2" name="conselhofiscal2">
        </mat-form-field>
        <mat-form-field class="example-full-width sindicocpf" appearance="fill">
          <mat-label>CPF Conselho Fiscal 2</mat-label>
          <input matInput formControlName="cpfconselhofiscal2" name="cpfconselhofiscal2" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width sindico" appearance="fill">
          <mat-label>Conselho Fiscal 3</mat-label>
          <input matInput formControlName="conselhofiscal3" name="conselhofiscal3">
        </mat-form-field>
        <mat-form-field class="example-full-width sindicocpf" appearance="fill">
          <mat-label>CPF Conselho Fiscal 3</mat-label>
          <input matInput formControlName="cpfconselhofiscal3" name="cpfconselhofiscal3" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="observacao" name="observacao">
        </mat-form-field>
      </form>

      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!fc.valid" mat-raised-button color="primary"
            (click)="cadastrarCondominio()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.fc)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
    </mat-tab>
    <!-- ******************************* FUNCIONARIO ************************ -->
    <mat-tab label="Funcionário">
      <form #ff="ngForm" [formGroup]="cadastroFuncionarioForm" class="example-form">
        <mat-form-field class="example-full-width " appearance="fill">
          <mat-label>Condomínio</mat-label>
          <mat-select formControlName="condominio" name="funcionario">
            <mat-option *ngFor="let opt of listaCondominios" [value]="opt.condominioID">{{ opt.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width nome" appearance="fill">
          <mat-label>Nome do Funcionário </mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width cpf" appearance="fill">
          <mat-label>CPF </mat-label>
          <input matInput formControlName="cpf" name="cpf" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Endereço </mat-label>
          <input matInput formControlName="endereco" name="endereco">
        </mat-form-field>
        <mat-form-field class="example-full-width email-func" appearance="fill">
          <mat-label>Email </mat-label>
          <input matInput formControlName="email" name="email">
        </mat-form-field>
        <mat-form-field class="example-full-width telefone-func" appearance="fill">
          <mat-label>Telefone </mat-label>
          <input matInput formControlName="telefone" name="telefone" mask="(00) 0 0000-0000">
        </mat-form-field>
        <mat-form-field class="example-full-width cargo" appearance="fill">
          <mat-label>Cargo</mat-label>
          <mat-select formControlName="cargo" name="cargo">
            <mat-option *ngFor="let opt of listaCargos" [value]="opt.cargoID">{{ opt.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width admissao" appearance="fill">
          <mat-label>Data Admissão </mat-label>
          <input matInput formControlName="admissao" name="admissao" mask="d0/M0/0000">
        </mat-form-field>
        <mat-form-field class="example-full-width banco" appearance="fill">
          <mat-label>Banco</mat-label>
          <mat-select formControlName="banco">
            <mat-option *ngFor="let opt of listaBancos" [value]="opt.bancoID">{{ opt.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="agencia" appearance="fill">
          <mat-label>Agência </mat-label>
          <input matInput formControlName="agencia" name="agencia">
        </mat-form-field>
        <mat-form-field class="conta" appearance="fill">
          <mat-label>Conta </mat-label>
          <input matInput type="number" formControlName="conta" name="conta">
        </mat-form-field>
        <mat-form-field class="operacao" appearance="fill">
          <mat-label>Op </mat-label>
          <input matInput type="number" formControlName="operacao" name="operacao">
        </mat-form-field>
        <mat-form-field class="pix" appearance="fill">
          <mat-label>PIX</mat-label>
          <mat-select formControlName="pix" name="pix">
            <mat-option [value]='"CPF/CNPJ"'>CPF/CNPJ</mat-option>
            <mat-option [value]='"Telefone"'>Telefone</mat-option>
            <mat-option [value]='"Email"'>Email</mat-option>
            <mat-option [value]='"Chave"'>Chave</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="chavepix" appearance="fill">
          <mat-label>Chave PIX </mat-label>
          <input matInput formControlName="chavepix" name="chavepix">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Titular </mat-label>
          <input matInput formControlName="titular" name="titular">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="observacao" name="observacao">
        </mat-form-field>
      </form>
      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!ff.valid" mat-raised-button color="primary"
            (click)="cadastrarFuncionario()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.ff)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
    </mat-tab>
    <!-- **************************** FORNECEDOR *********************************** -->
    <mat-tab label="Fornecedor">
      <form #ffo="ngForm" [formGroup]="cadastroFornecedorForm" class="example-form">
        <mat-form-field class="example-full-width nome-forn" appearance="fill">
          <mat-label>Nome do Fornecedor </mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width apelido-forn" appearance="fill">
          <mat-label>Apelido do Fornecedor </mat-label>
          <input matInput formControlName="apelido" name="apelido">
        </mat-form-field>
        <mat-form-field class="example-full-width cnpj-forn" appearance="fill">
          <mat-label>CNPJ </mat-label>
          <input matInput formControlName="cnpj" name="cnpj" mask="00.000.000/0000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width cpf-forn" appearance="fill">
          <mat-label>CPF </mat-label>
          <input matInput formControlName="cpf" name="cpf" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width tel-forn" appearance="fill">
          <mat-label>Telefone </mat-label>
          <input matInput formControlName="telefone" name="telefone" mask="(00) 0 0000-0000">
        </mat-form-field>
        <mat-form-field class="example-full-width end-forn" appearance="fill">
          <mat-label>Endereço </mat-label>
          <input matInput formControlName="endereco" name="endereco">
        </mat-form-field>
        <mat-form-field class="example-full-width email-forn" appearance="fill">
          <mat-label>Email </mat-label>
          <input matInput formControlName="email" name="email">
        </mat-form-field>
        <mat-form-field class="example-full-width banco" appearance="fill">
          <mat-label>Banco</mat-label>
          <mat-select formControlName="banco" name="banco">
            <mat-option *ngFor="let opt of listaBancos" [value]="opt.bancoID">{{ opt.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="agencia" appearance="fill">
          <mat-label>Agência </mat-label>
          <input matInput type="number" formControlName="agencia" name="agencia">
        </mat-form-field>
        <mat-form-field class="conta" appearance="fill">
          <mat-label>Conta </mat-label>
          <input matInput type="number" formControlName="conta" name="conta">
        </mat-form-field>
        <mat-form-field class="operacao" appearance="fill">
          <mat-label>Op </mat-label>
          <input matInput type="number" formControlName="operacao" name="operacao">
        </mat-form-field>
        <mat-form-field class="pix" appearance="fill">
          <mat-label>PIX</mat-label>
          <mat-select formControlName="pix" name="pix">
            <mat-option [value]='"CPF/CNPJ"'>CPF/CNPJ</mat-option>
            <mat-option [value]='"Telefone"'>Telefone</mat-option>
            <mat-option [value]='"Email"'>Email</mat-option>
            <mat-option [value]='"Chave"'>Chave</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="chavepix" appearance="fill">
          <mat-label>Chave PIX </mat-label>
          <input matInput formControlName="chavepix" name="chavepix">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="observacao" name="observacao">
        </mat-form-field>
        <div class="caixa-servicos">
          <h2 class="h2-box-servico"> Serviços Prestados</h2>
          <div class="box-servicos">
            <div *ngFor="let unit of listaServicos; let i=index" (click)="cadServico(i)" class="box-servico-itens">
              <mat-checkbox formControlName="servicosPrestados" name="servicosPrestados">
                {{ unit.nome }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </form>
      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!ffo.valid" mat-raised-button color="primary"
          (click)="cadastrarFornecedor()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.ffo)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
    </mat-tab>
    <!-- ***************************** CONDOMINO ************************* -->
    <mat-tab label="Condômino">
      <form #fco="ngForm" [formGroup]="cadastroCondominoForm" class="example-form">
        <mat-form-field class="example-full-width condominio-cond" appearance="fill">
          <mat-label>Condomínio</mat-label>
          <mat-select formControlName="condominio" name="condominio">
            <mat-option *ngFor="let opt of listaCondominios" [value]="opt.condominioID">{{ opt.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width unidade" appearance="fill">
          <mat-label>Unidade </mat-label>
          <input matInput formControlName="unidade" name="unidade">
        </mat-form-field>
        <mat-form-field class="example-full-width proprietario" appearance="fill">
          <mat-label>Proprietário </mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width proprietariocpf" appearance="fill">
          <mat-label>Proprietário CPF </mat-label>
          <input matInput formControlName="proprietariocpf" name="proprietariocpf" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width locatario-nome" appearance="fill">
          <mat-label>Locatário</mat-label>
          <input matInput formControlName="locatario" name="locatario">
        </mat-form-field>
        <mat-form-field class="example-full-width locatario-cpf" appearance="fill">
          <mat-label>Locatário CPF</mat-label>
          <input matInput formControlName="locatariocpf" name="locatariocpf" mask="000.000.000-00">
        </mat-form-field>
        <mat-form-field class="example-full-width email-condo" appearance="fill">
          <mat-label>Email </mat-label>
          <input matInput formControlName="email" name="email">
        </mat-form-field>
        <mat-form-field class="example-full-width telefone-condo" appearance="fill">
          <mat-label>Telefone </mat-label>
          <input matInput formControlName="telefone" name="telefone" mask="(00) 0 0000-0000">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Observação </mat-label>
          <input matInput formControlName="observacao" name="observacao">
        </mat-form-field>
      </form>
      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!fco.valid" mat-raised-button color="primary" (click)="cadastrarCondomino()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.fco)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
    </mat-tab>
    <!-- **************************** OUTROS ********************************** -->
    <mat-tab label="Outros" class="outros">
      <h1>Cadastro de Cargos</h1>
      <form #fca="ngForm" [formGroup]="cadastroCargoForm" class="example-form" (keyup.enter)="cadastrarCargo()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome do Cargo </mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
      </form>
      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!fca.valid" mat-raised-button color="primary" (click)="cadastrarCargo()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.fca)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
      <hr>
      <h1>Cadastro de Serviços</h1>
      <form #fse="ngForm" [formGroup]="cadastroServicoForm" class="example-form" (keyup.enter)="cadastrarServico()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome do Serviço </mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
      </form>
      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!fse.valid" mat-raised-button color="primary" (click)="cadastrarServico()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.fse)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
      <hr>
      <h1>Cadastro de Bancos</h1>
      <form #fba="ngForm" [formGroup]="cadastroBancoForm" class="example-form" (keyup.enter)="cadastrarBanco()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome do Banco </mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
      </form>
      <div class="botoes">
        <div class="botao-salvar">
          <button [disabled]="!fba.valid" mat-raised-button color="primary" (click)="cadastrarBanco()">Salvar</button>
        </div>
        <div class="botao-cancelar">
          <button (click)="cancelarForm(this.fba)" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>