<p>cadastro works!</p>

<form action="adicionar">
    <label for="conta">Conta:</label>
    <input type="text" name="conta" required>
    <label for="data">Data:</label>
    <input type="text" name="data" required>
    <label for="tipo">Tipo:</label>
    <input type="text" name="" required>
    <label for="valor">Valor:</label>
    <input type="number" name="valor" required>

    <button> Adicionar</button>
</form>

<hr>

<form action="deletar">
    <label for="id">Id:</label>
    <input type="text" name="id" required>
    <label for="conta">Conta:</label>
    <input type="text" name="conta" required>
    <label for="data">Data:</label>
    <input type="text" name="data" required>
    <label for="tipo">Tipo:</label>
    <input type="text" name="" required>
    <label for="valor">Valor:</label>
    <input type="number" name="valor" required>

    <button> Deletar</button>
</form>